.NumberComponentContainer{
    display: block;
    width:50%;
    border: 1px solid white;
    border-radius: 10px;
    margin-top:10px;
    margin-bottom: 10px;
    background: #4a6572;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black;
}

.ConvertResult{
    display: block;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    height: 80px;
    color:white;
    font-size: 24px;
    padding-top: 10px;
    background: #4a6572;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.ConvertTitle{
    display: block;
    width: 100%;
    height: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #232F34;  
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    padding-top:4px;
    color: white;
}

.ConvertForm{
    display: block;
    width:100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #344955;
}

.NoLine{
    display: inline-block;
}

.OverLine{
    text-decoration: overline;
    display: inline-block;
}

.DoubleOverLine{
    text-decoration: overline;
    text-decoration-style: double;
    display: inline-block;
}

.RomanTable{
    padding: 0;
    vertical-align: bottom;
}

.CellRomanTable{
    vertical-align: bottom;
    margin: 0;
    padding:0;
}

hr{
    padding:0;
    height:0;
    clear:both;
    font-size:3px;
}

.InputForm{
    width:214px;
    font-size: 20px;
    padding:4px;
    margin-right: 10px;
    text-align: center;
    border: 3px solid #083c5d;
}

.ClearButton{
    width:60px;
    border:0px;
    font-size: 15px;
    font-weight: bold;
    background: #f9aa33;
    color: #2c3531;
    cursor: pointer;
}

.ToggleButton{
    width: 150px;
    margin-top: 10px;
    border: 4px solid #083c5d;
    font-size: 15px;
    font-weight: bold;
    background: #4a6572;
    color: white;
    cursor: pointer;
}

.ConvertButton{
    width: 90px;
    height: 30px;
    margin-top: 10px;
    margin-right: 10px;
    border:0px;
    font-size: 15px;
    font-weight: bold;
    background: #083c5d;
    color: #d1e8e2;
    cursor: pointer;
}